<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dead or Alive</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="dark" src="/assets/reaper.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="" *ngIf="person">
    
    <ion-grid>
      <ion-row *ngIf="!result">
        <ion-col class="ion-padding ion-text-center">
          <h1><b>{{ person.name }}</b></h1>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="result">
        <ion-col class="ion-padding ion-text-center">
          <h1><b><span>{{ result }}, </span>{{ person.name }} <span *ngIf="!person.died">is alive</span><span *ngIf="person.died">died on {{ person.died }}</span></b></h1>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="result.length === 0">
        <ion-col size="6" class="ion-padding">
          <ion-button (click)="answer(true)" strong expand="block" color="danger">Dead</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-padding">
          <ion-button (click)="answer(false)" strong expand="block" color="success">Alive</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="result.length > 0">
        <ion-col size="12" class="ion-padding">
          <ion-button (click)="nextPerson()" strong expand="block" color="primary">Next Person</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-card>
            <ion-item>
              <ion-icon name="folder-outline" slot="start"></ion-icon>
              <ion-label>Category</ion-label>
              <ion-button color="primary" strong fill="outline" slot="end" 
              (click)="toggles.category = !toggles.category">{{ toggles.category ? 'Hide' : 'View'}}</ion-button>
            </ion-item>
          
            <ion-card-content class="ion-text-center" *ngIf="toggles.category">
              <b>{{ person.category }}</b>
            </ion-card-content>
          </ion-card>
          
      
          <ion-card>
            <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>Famous As</ion-label>
              <ion-button color="primary" strong fill="outline" slot="end" 
              (click)="toggles.famous_as = !toggles.famous_as">{{ toggles.famous_as ? 'Hide' : 'View'}}</ion-button>
            </ion-item>
          
            <ion-card-content class="ion-text-center" *ngIf="toggles.famous_as">
              <b>{{ person.famous_as }}</b>
            </ion-card-content>
          </ion-card>
      
          <ion-card>
            <ion-item>
              <ion-icon name="navigate-outline" slot="start"></ion-icon>
              <ion-label>Birth Place</ion-label>
              <ion-button color="primary" strong fill="outline" slot="end" 
              (click)="toggles.birthplace = !toggles.birthplace">{{ toggles.birthplace ? 'Hide' : 'View'}}</ion-button>
            </ion-item>
          
            <ion-card-content class="ion-text-center" *ngIf="toggles.birthplace">
              <b>{{ person.birthplace }}</b>
            </ion-card-content>
          </ion-card>
      
          <ion-card>
            <ion-item>
              <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
              <ion-label>Birth Date</ion-label>
              <ion-button color="primary" strong fill="outline" slot="end" 
              (click)="toggles.birthdate = !toggles.birthdate">{{ toggles.birthdate ? 'Hide' : 'View'}}</ion-button>
            </ion-item>
          
            <ion-card-content class="ion-text-center" *ngIf="toggles.birthdate">
              <b>{{ person.birthdate }}</b>
            </ion-card-content>
          </ion-card>
      
          <ion-card>
            <ion-item>
              <ion-icon name="book-outline" slot="start"></ion-icon>
              <ion-label>Biography</ion-label>
              <ion-button color="primary" strong fill="outline" slot="end" 
              (click)="toggles.notes = !toggles.notes">{{ toggles.notes ? 'Hide' : 'View'}}</ion-button>
            </ion-item>
          
            <ion-card-content *ngIf="toggles.notes">
              <b>{{ person.notes }}</b>
            </ion-card-content>
          </ion-card>
    
        </ion-col>
        <ion-col>
          <ion-col size="12" class="ion-padding">
            <ion-img style="height: 300px;" [src]="photoURL"></ion-img>
          </ion-col>  
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
